<h1>ABC Bookstore</h1>

<ul>
    <% @books.each do |book| %>
    <div class ="book">
        <li><h3><%= link_to book.title, book %></h3>
        <p>Genre: <%= book.genre%></p>
        <p>Price: $<%= book.price%></p>
    </div>
    <% end %>
</ul>

